<div class="container">
    <div class="about">
        <p class="about__desc">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae animi reiciendis, dicta minima est
            voluptates eligendi quos vel, sit nemo qui voluptatem autem culpa debitis consequatur consequuntur quo,
            cum
            doloremque.
        </p>
        <div class="social-contact">
            <span class="rounded-sm icon social-contact__icon">
                <a href="#" class="social-contact__link"><i class="fa-brands fa-facebook-f "></i></a>
            </span>
            <span class="rounded-sm icon social-contact__icon">
                <a href="#" class="social-contact__link"><i class="fa-brands fa-twitter"></i> </a>
            </span>
            <span class="rounded-sm icon social-contact__icon">
                <a href="#" class="social-contact__link"><i class="fa-brands fa-instagram"></i></a>
            </span>

            <span class="rounded-sm icon social-contact__icon">
                <a href="#" class="social-contact__link"><i class="fa-brands fa-linkedin-in"></i></a>
            </span>
        </div>
        <p class="copyright">
            Designed by Easy Tutorials and Implemented by Rashid Ameer
        </p>
    </div>
</div>