<section class="section campus__wrapper">
    <div class="container">
        <div class="section-info">
            <h2 class="section__title campus__heading">
                Our Global Campus
            </h2>
            <p class="section__desc">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt, dolorem!
            </p>
        </div>
        <div class="flex flex-dr-col-mb cards campuses">
            <div class="rounded-lg  card campus-card">
                <img src="./images/london.png" alt="Image of London campus" class="campus-card__img">
                <span class="flex campus-card__info">
                    <h3 class="title campus-card-info__title">
                        London
                    </h3>
                </span>
            </div>
            <div class="rounded-lg card campus-card">
                <img src="./images/newyork.png" alt="Image of NewYork campus" class="campus-card__img">
                <span class="flex campus-card__info">
                    <h3 class="title campus-card-info__title">
                        NewYork
                    </h3>
                </span>
            </div>
            <div class="rounded-lg card campus-card">
                <img src="./images/washington.png" alt="Image of Washington campus" class="campus-card__img">
                <span class="flex campus-card__info">
                    <h3 class="title campus-card-info__title">
                        Washington
                    </h3>
                </span>
            </div>
        </div>
    </div>
</section>