<div class="container">
    <div class="flex flex-dr-col-mb cards courses">
        <div class="rounded-lg text-center card course-card">
            <h3 class="title course-card__title">
                Bachelors
            </h3>
            <p class="course-card__desc">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus dicta alias iusto facilis? Dolore
                delectus
                maxime, accusamus magni perferendis iusto?
            </p>
        </div>
        <div class="rounded-lg text-center card course-card">
            <h3 class="title course-card__title">
                Masters
            </h3>
            <p class="course-card__desc">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus dicta alias iusto facilis? Dolore
                delectus
                maxime, accusamus magni perferendis iusto?
            </p>
        </div>
        <div class="rounded-lg text-center card course-card">
            <h3 class="title course-card__title">
                Phd
            </h3>
            <p class="course-card__desc">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus dicta alias iusto facilis? Dolore
                delectus
                maxime, accusamus magni perferendis iusto?
            </p>
        </div>
    </div>
</div>