<section class="section facility-wrapper">
    <div class="container">
        <div class="section-info">
            <h2 class="section__title ">
                Our Facilities
            </h2>
            <p class="section__desc">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt, dolorem!
            </p>
        </div>
        <div class="flex flex-dr-col-mb cards facilities">
            <div class="card facility">
                <img src="./images/library.png" alt="The picture of woman in library" class="rounded-lg facility__img">
                <div class="facility-info">
                    <h3 class="title facility__title">
                        World Class Library
                    </h3>
                    <p class="facility__desc">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate, dolorem! Lorem ipsum
                        dolor
                        sit amet.
                    </p>
                </div>
            </div>
            <div class="card facility">
                <img src="./images/basketball.png" alt="The picture of woman in library"
                    class="rounded-lg facility__img">
                <div class="facility-info">
                    <h3 class="title facility__title">
                        Large Playground
                    </h3>
                    <p class="facility__desc">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate, dolorem! Lorem ipsum
                        dolor
                        sit amet.
                    </p>
                </div>
            </div>
            <div class="card facility">
                <img src="./images/cafeteria.png" alt="The picture of woman in library"
                    class="rounded-lg facility__img">
                <div class="facility-info">
                    <h3 class="title facility__title">
                        Healthy and Tasty Food
                    </h3>
                    <p class="facility__desc">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate, dolorem! Lorem ipsum
                        dolor
                        sit amet.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>