<div class="container">
    <div class="flex flex-dr-col-mb cards reviews">
        <div class="rounded-lg card review">
            <div class="flex review-owner-info">
                <img src="./images/user1.jpg" alt="" class="review-owner__img">
                <div>
                    <h3 class="title review__owner">
                        Jason Smith
                    </h3>
                    <div class="flex review__stars">
                        <svg class="icon">
                            <use xlink:href="../images/sprite.svg#full-star"></use>
                        </svg>
                        <svg class="icon">
                            <use xlink:href="../images/sprite.svg#full-star"></use>
                        </svg>
                        <svg class="icon">
                            <use xlink:href="../images/sprite.svg#full-star"></use>
                        </svg>
                        <svg class="icon">
                            <use xlink:href="../images/sprite.svg#star"></use>
                        </svg>
                        <svg class="icon">
                            <use xlink:href="../images/sprite.svg#star"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <p class="review__msg">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore pariatur unde dolorem
                eligendi
                repudiandae quaerat quis rerum sunt id repellendus!
            </p>
        </div>
        <div class="rounded-lg card review">
            <div class="flex review-owner-info">
                <img src="./images/user2.jpg" alt="" class="review-owner__img">
                <div>
                    <h3 class="title review__owner">
                        Jason Smith
                    </h3>
                    <div class="flex review__stars">
                        <svg class="icon">
                            <use xlink:href="../images/sprite.svg#full-star"></use>
                        </svg>
                        <svg class="icon">
                            <use xlink:href="../images/sprite.svg#full-star"></use>
                        </svg>
                        <svg class="icon">
                            <use xlink:href="../images/sprite.svg#full-star"></use>
                        </svg>
                        <svg class="icon">
                            <use xlink:href="../images/sprite.svg#full-star"></use>
                        </svg>
                        <svg class="icon">
                            <use xlink:href="../images/sprite.svg#half-star"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <p class="review__msg">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore pariatur unde dolorem
                eligendi
                repudiandae quaerat quis rerum sunt id repellendus!
            </p>
        </div>
    </div>
</div>